$path-to-assets: '/projects/csm-main-menu/assets';
$flags-sprite-url: url('../../../assets/images/flags-sprites.png') no-repeat;

// SideBar Variables
$sidebar-width: 250px;
$sidebar-bg-color: $gray;

$sidebar-logo: url('../../../assets/images/bunge_csm.png');
$sidebar-logo-height: 50px;

$sidebar-link-size: 50px;
$sidebar-link-color: $blue;
$sidebar-link-active-color: $white;
$sidebar-link-bg-active-color: $blue;
$sidebar-link-font-size: 1rem;

// MenuRender Vairables
$menu-render-y-padding: 30px;
$menu-render-x-padding: 30px;

$menu-render-sidebar-width: calc(100vw - #{$sidebar-width});

$menu-render-list-color: $blue;
$menu-render-list-title-color: $blue;
$menu-render-list-bg-color: $white;
$menu-render-list-border-color: $border-gray;
$menu-render-list-item-country-size: 0.95rem;
$menu-render-list-item-width: 260px;

$menu-render-search-max-width: $menu-render-list-item-width;
$menu-render-search-min-width: 160px;