$path-to-assets: '/projects/csm-main-menu/assets';

// SideBar Variables
$sidebar-width: 250px;
$sidebar-bg-color: $gray;

$sidebar-logo: url('../../../assets/images/bunge_csm.png');
$sidebar-logo-height: 50px;

$sidebar-link-size: 50px;
$sidebar-link-color: $blue;
$sidebar-link-active-color: $white;
$sidebar-link-bg-active-color: $blue;
$sidebar-link-font-size: 1rem;

// MenuRender Vairables
$menu-render-sidebar-width: calc(#{$sidebar-width} + 10px);
$menu-render-y-padding: 50px;
$menu-render-x-padding: 20px;

$menu-render-list-color: $blue;
$menu-render-list-title-color: $blue;
$menu-render-list-bg-color: $white;
$menu-render-list-border-color: $border-gray;
$menu-render-list-item-country-size: 0.95rem;
$menu-render-list-item-width: 280px;

$menu-render-search-max-width: 300px;
$menu-render-search-min-width: 100px;