@import '../../../assets/styles/style';

:host {
  margin: 0px;
}

.menu-render {
  position: absolute;
  width: 0vw;
  height: 100vh;
  background-color: $menu-render-list-bg-color;
  transition: width ease-in-out 0.1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica, sans-serif;
  border: 1px solid $menu-render-list-border-color;

  &.is-open {
    width: $menu-render-sidebar-width;
    padding: #{$menu-render-y-padding} #{$menu-render-x-padding};

    .search-input {
      visibility: visible;
    }
  }

  .search-input {
    position: relative;
    min-width: $menu-render-search-min-width;
    max-width: $menu-render-search-max-width;
    width: 100%;
    visibility: hidden;

    .search {
      border: 2px solid $border-gray;
      color: $menu-render-list-color;
      width: 100%;
      font-size: 1rem;
      padding: 5px 30px 5px 5px;
    }

    i {
      position: absolute;

      right: 10px;
      top: 6px;
    }
  }

  .menu-content {
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{$menu-render-list-item-width}, 1fr));
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 40px;

    .menu-item {
      display: block;
      overflow: hidden;
      width: 100%;
      padding-left: 10px;
      width: inherit;

      h2 {
        color: $menu-render-list-title-color;
        text-decoration: none;
        font-weight: normal;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        cursor: default;

        &:after {
          display:block;
          border-bottom: solid 3px $menu-render-list-color;  
          transform: scaleX(0);  
          transition: transform 250ms ease-in-out;
          content: '';
        }
      }

      &:hover {
        h2 {
          &:after {
            transform: scaleX(1);
            transform-origin: 0% 50%;
          }
        }
      }

      .menu-item-countries {
        display: flex;
        max-width: 100%;
        margin-bottom: 10px;

        .menu-item-country {
          font-size: $menu-render-list-item-country-size;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-weight: lighter;
          text-transform: uppercase;
          margin-right: 10px;
          margin-left: -2px;
          padding: 2px 5px;
          overflow: hidden;

          i {
            display: block;
            padding: 0px;
            margin: 0px;
            margin-right: 3px;
          }

          span {
            color: $menu-render-list-color;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:hover {
            background-color: rgba($menu-render-list-color, 0.3)
          }

          &.active {
          }
        }
      }
    }
  }
}